In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib qt

In [2]:
stem = "/Users/bandari/Documents/git.repos/gpi2_misc/notebooks_for_development/data/"

In [3]:
file_name = stem + "20220912_temperature.log"

In [4]:
df = pd.read_csv(file_name, skiprows=7, names=["day","time","molyblock","tita_det_head","intermed_opt_bench",
                                               "intermed_block_ccr1","cold_tip_ccr2",
                                               "intermed_block_ccr2","cold_tip_ccr1","asic_strap",
                                               "opt_bench","cold_shield","output_a","output_b"])

In [5]:
df

,day,time,molyblock,tita_det_head,intermed_opt_bench,intermed_block_ccr1,cold_tip_ccr2,intermed_block_ccr2,cold_tip_ccr1,asic_strap,opt_bench,cold_shield,output_a,output_b
0,22/09/12,11:43:12,291.294,291.727,292.334,291.292,295.575,292.808,291.547,291.631,292.189,291.958,0.0,0.0
1,22/09/12,11:44:12,291.294,291.727,292.334,291.292,295.576,292.807,291.547,291.631,292.189,291.958,0.0,0.0
2,22/09/12,11:45:12,291.294,291.727,292.334,291.292,295.576,292.808,291.547,291.631,292.189,291.958,0.0,0.0
3,22/09/12,11:46:12,291.295,291.727,292.334,291.292,295.578,292.807,291.546,291.631,292.189,291.957,0.0,0.0
4,22/09/12,11:47:12,291.294,291.728,292.334,291.292,295.578,292.807,291.546,291.630,292.189,291.957,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19977,22/09/26,09:51:42,135.366,85.338,77.491,73.340,68.620,73.626,67.923,81.292,76.005,80.287,0.0,0.0
19978,22/09/26,09:52:42,138.694,85.338,77.491,73.340,68.615,73.625,67.924,81.292,76.005,80.287,0.0,0.0
19979,22/09/26,09:53:42,138.652,85.338,77.492,73.340,68.612,73.625,67.921,81.292,76.004,80.286,0.0,0.0
19980,22/09/26,09:54:42,138.551,85.338,77.492,73.339,68.611,73.624,67.919,81.293,76.004,80.287,0.0,0.0
19981,22/09/26,09:55:42,135.596,85.339,77.492,73.339,68.610,73.623,67.917,81.293,76.004,80.287,0.0,0.0

In [6]:
# get rid of non-numeric strings

molyblock = df["molyblock"].apply(pd.to_numeric, errors='coerce')
opt_bench = df["intermed_opt_bench"].apply(pd.to_numeric, errors='coerce')

In [8]:
plt.plot(opt_bench[150:])
plt.show()